.thumbNailView img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: -50px;
}
.thumbNail img {
  height: 60px;
  width: 60px;
  margin-left: -20px;
}
.Rasdio RadioButtonGroupInput {
  height: 10%;
  display: block;
}
